*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#0d0d0d;
    color:#440E03;
    padding:80px 8%;
}

/* TITLE */
.skills-title{
    text-align:center;
    font-size:4vw;
    font-weight:700;
    margin-bottom:70px;
    letter-spacing:4px;
}

/* GRID */
.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
}

/* CARD */
.skill-card{
    background:rgba(255,255,255,0.05);
    padding:30px;
    border-radius:20px;
    box-shadow:0 25px 45px rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);
}

.skill-card h2{
    font-size:18px;
    margin-bottom:25px;
    display:flex;
    align-items:center;
    gap:10px;
    border-left:4px solid #caa472;
    padding-left:12px;
}

/* SKILL */
.skill{
    margin-bottom:20px;
}

.skill-info{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:8px;
}

/* PROGRESS */
.progress{
    width:100%;
    height:10px;
    background:#2a2a2a;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}

.progress-bar{
    height:100%;
    width:0;
    background:linear-gradient(90deg,#caa472,#ffe0b3);
    border-radius:20px;
    position:relative;
    transition:width 1.8s ease;
}

/* LAMPU GERAK */
.progress-bar::after{
    content:'';
    position:absolute;
    top:-5px;
    right:0;
    width:20px;
    height:20px;
    background:#440E03;
    border-radius:50%;
    filter:blur(8px);
    box-shadow:0 0 15px #ffd89c, 0 0 30px #caa472;
}
/* BACK TO HOME BUTTON */
.back-home {
    text-align: center;
    margin: 80px 0 20px;
}

.back-home a {
    text-decoration: none;
    padding: 14px 34px;
    background: #222;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.back-home a:hover {
    background: #4a2f1c;
}
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("gallerybg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
}
/* ===== HIGHLIGHT CARD ===== */
.highlight-card{
    background:linear-gradient(135deg,#efe4d2,#e7dac6);
    color:#3b2416;
}

.highlight-card h2{
    border-left:4px solid #caa472;
    color:#3b2416;
}

/* LIST STYLE */
.strength-list,
.learning-list{
    list-style:none;
    margin-top:20px;
}

.strength-list li,
.learning-list li{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:12px;
    font-size:14px;
}

.strength-list i{
    color:#caa472;
}

.learning-list i{
    color:#b87333;
}

/* DIVIDER */
.divider{
    width:100%;
    height:1px;
    background:rgba(0,0,0,0.15);
    margin:30px 0;
}

.span-2{
    grid-column: span 2;
}
